.main-container {
  width: 100%;
}

/* Styling for about section (.about-content) */
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styling for grid layout in about section (.grid2) */
.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

/* Styling for individual boxes within .about-content (.box) */
.about-content .box {
  text-align: center;
  position: relative;
  margin: 10px;
}

/* Styling for heading and subheading in .box */
.about-content .box h3 {
  color: #009c95;
  font-size: 20px;
}

.about-content .box h4 {
  position: relative;
  margin-top: -10px;
  font-size: 15px;
}

/* Styling for images in .about-content */
.about-content img {
  width: 40%;
  margin: 20px;
}

/* Styling for heading and paragraphs in .about-content */
.about-content h2, p {
  margin: 20px;
  text-align: justify;
}

/* Styling for heading color in .about-content */
.about-content h2 {
  color: #009c95;
}

.cards-member {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 10px;
}

.card-member {
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  box-shadow: 0.3s;
  width: 280px;
  height: 410px;
  margin: 30px;
  border: #ffffff;
  position: relative;
}

.card-member img {
  width: 100%;
  height: 60%;
  position: absolute;
}

.card-member:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  cursor: pointer;
}

.card-member h3 {
  position: absolute;
  top: 70%;
  transform: translateY(-50%); 
  color: #000;
  font-size: 20px;
  font-weight: bold;

}

.card-member p {
  position: absolute;
  top: 80%;
  transform: translateY(-50%); 
  color: #5b5b5b;
  font-size: 16px;
  font-weight: bold;
}
.card-member h3,
.card-member p {
  position: absolute;
  text-align: center; 
}