/* Set the default font family for the body */
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
.main-container {
  position: relative;
}

#home-room {
  margin-bottom: 30px;
  width: 100%;
  position: relative;
}
/* Styling for the text container */
/* Styling for main-pic container */
.main-pic {
  position: relative;
}

/* Styling for images within the main-pic */
.mainpic-room {
  margin-top: 0;
}

.mainpic-room img {
  width: 100%;
}
.container {
  padding: 0px 20px;
  margin: 0px 50px;
}
.card {
  display: flex;
}
.headings, .content-room {
  text-align: left;
  padding-left: 10px;
  margin-left: 10px;
}
/* Styling for headings within .headings */
.headings h1 {
  text-align: left;
  color: #323131;
  font-size: 30px;
}
.headings h2{
  text-align: left;
  color: #676464;
}
.content-room p{
  text-align: justify;
}

/* CSS mengatur ukuran dari bagian main */
.detail-room {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.detail-room img {
  width: 330px;
  height: 200px;
  padding: 20px;
  border-radius: 25px;
  transition: transform 0.5s ease;
}

.detail-room img:hover {
  transform: scale(1.1);
}

.facilities-info-price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}
/* CSS bagian 2 container beseblahan */
.container-info {
  display: flex;
  flex-direction: row;
  
  margin: 0px;
 
}

.main-facilities, .support-facilities {
  padding: 10px;
  margin: 10px;

 }
 
 .main-facilities ul, .support-facilities ul {
  list-style-type: revert;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;

 }

 li{
  margin: 10px;
  font-size: 16px;
 }

.price-box {
  border: 1px solid #ccc;
  height: auto;
  width: 400px;
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info {
  line-height: 1.6;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.info label {
  margin-right: 10px;
}

.info input {
  margin-bottom: 10px;
}

.info button {
  margin-top: 10px;
  cursor: pointer;
  background-color: #8a1e1e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
.info button:hover{
  background-color: #a31d1d;
}
.price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#roomName, #checkinDate, #checkoutDate, #totalRoom{
  margin-top: 10px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup span.close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
/* Gaya CSS untuk layar yang lebar kurang dari 1000px */
@media (max-width: 700px) {
  .facilities-info-price{
    flex-direction: column;
    margin-bottom: 30px;
  }
}

/* import eksternal font Inter */
@font-face {
  font-family: "Inter", sans-serif;
  src: url("font/Inter-Regular.ttf");
}

@font-face {
  font-family: "KaushanScript-Regular", cursive;
  src: url("font/KaushanScript-Regular.ttf") format("truetype");
}

body {
  font-family: "Inter", sans-serif;
}

.card_fasilities p {
  font-family: "Kaushan Script", cursive;
}
