form {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

/* Added styles for required indicator */
span.required {
    color: red;
    font-weight: bold;
    margin-left: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus, textarea:focus {
    outline: none;
    border: 1px solid #4CAF50;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#imagePreview {
    max-width: 100%;
    margin-top: 10px;
    display: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}