#form{
    margin: 70px;
}
.container{
    padding: 0px 20px;
    margin: 0px 50px;
}
.container-feedback{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1{
    text-align: center;
}
form {
  width: auto;
  margin-bottom: 20px ;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-size: 16px;
}

/* Added styles for required indicator */
span.required {
  color: red;
  font-weight: bold;
  margin-left: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #213E9E;
}

button {
  background-color: #213E9E;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
}

button:hover {
  background-color: #213E9E;
}

#imagePreview {
  max-width: 100%;
  margin-top: 10px;
  display: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup img {
  width: 50px;
  height: 50px;
}

.popup p {
  margin-top: 10px;
  color: #4caf50;
  font-weight: bold;
}
.rating-submit{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rating-star {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
}
#customers-say {
  margin-top: 40px;
  padding: 20px;
  background-color: rgb(238, 238, 238);
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 10px;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.client-card {
  padding: 1rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: auto;
}

.client-card h2,
.client-card p {
  text-align: center;
  color: #3B3B3B;
}
.client-card h2{
  font-size: 16px;
}
.client-card.rating-container {
  color: #d3d3d3; 
  position: fixed;
  color: #333;
}
.rating-container{
  color: #fdd835;
  font-size: 30px;
}
.star {
  display: inline-block;
  cursor: pointer;
}

.star:hover,
.star.active {
  color: gold;
}
@media screen and (max-width: 770px) {
  .card-grid {
    display: block;
  }
}
@media screen and (max-width: 770px) {
  .card{
    padding: 0px;
    margin-right: 0px;
  }
}