/* External font import for Inter */
@font-face {
  font-family: "Inter", sans-serif;
  src: url("font/Inter-Regular.ttf");
}

/* External font import for Kaushan Script */
@font-face {
  font-family: "KaushanScript-Regular", cursive;
  src: url("font/KaushanScript-Regular.ttf") format("truetype");
}

/* Set the default font family for the body */
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
.main-container {
  position: relative;
}

.container {
  padding: 0px 20px;
  margin: 0px 50px;
}
#home1 {
  margin-bottom: 60px;
  width: 100%;
  position: relative;
}
/* Styling for the text container */
.text-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  color: #f1ebeb; /* Text color */
  overflow: auto;
}
/* Styling for main-pic container */
.main-pic {
  position: relative;
}

/* Styling for images within the main-pic */
.mainpic-home {
  margin-top: 0;
}

.mainpic-home img {
  width: 100%;
}

/* Styling for heading (#heading) */
#heading {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

/* Styling for subheading (#subheading) */
#subheading {
  font-size: 30px;
  text-align: center;
}
/* Styling for grid layout in about section (.grid2) */
.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

/* Styling for individual boxes within .about-content (.box) */
#about-us {
  margin-bottom: 100px;
}
.about-container h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #555555;
  font-size: 32px;
}
/* Styling for about section (.about-content) */
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.text-about {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.about-content .box {
  text-align: center;
  position: relative;
  margin: 10px;
}

/* Styling for heading and subheading in .box */
.about-content .box h3 {
  color: #213e9e;
  font-size: 20px;
}

.about-content .box h4 {
  position: relative;
  margin-top: -10px;
  font-size: 15px;
}

.box {
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#rooms-img,
#restaurant-about,
#gym,
#meeting {
  height: 50px;
  width: 50px;
  padding: 5px;
}
/* Styling for images in .about-content */
.about-content img {
  padding: 10px;
  width: 45%;
}

/* Styling for heading color in .about-content */
.text-about h2 {
  padding: 10px;
  color: #213e9e;
}

.text-about p {
  padding: 10px;
}
.view-about:hover {
  background: #113fd5;
  color: #ffffff;
}
.view-about {
  border: none;
  background: #2347bc;
  border-radius: 5px;
  color: #ffffff;
  font-family: inter;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  padding: 10px 20px;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  align-items: center;
  justify-content: center;
}
/* Styling for individual room cards (.card_room1) */
#popular-rooms {
  margin-bottom: 60px;
}
.main-rooms {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.more-rooms a {
  height: 40px;
  font-weight: bold;
}

.more-rooms a:hover {
  color: #213e9e;
  cursor: pointer;
}
/* Styling for headings within .headings */
.headings h1 {
  text-align: center;
  color: #555555;
  font-size: 32px;
}
/* Styling for cards container (.card) */
.card {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 10px;
}
.card-room1 {
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  box-shadow: 0.3s;
  width: 280px;
  height: 410px;
  margin: 30px;
  border: #ffffff;
  position: relative;
}
.headings-popular {
  color: #555555;
}
/* Styling for images within .card_room1 */
.card-room1 img {
  width: 100%;
  height: 60%;
  position: absolute;
}

/* Hover effect for .card-room1 */
.card-room1:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  cursor: pointer;
}

.discount p {
  position: absolute;
  margin-top: 0px;
  right: 0px;
  background-color: rgba(220, 20, 20, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  font-weight: bold;
}
/* Styling for room details text (.text_room) */
.text-room {
  position: absolute;
  top: 57%;
  left: 20px;
}

.text-room h2 {
  align-items: center;
  text-align: center;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #2347bc;
}
/* Styling for room facilities information (.room_fasilities) */
.available {
  position: absolute;
  top: 45%;
  right: 10px;
}

.text-available {
  text-align: center;
  box-shadow: 0px 0px 20px rgb(180, 175, 175);
  background-color: rgba(26, 24, 24, 0.8);
  color: #ffffff;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}
.room-facilities {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.item {
  position: absolute;
  top: 65%;
  left: 60px;
}

#bed{
  margin: 15px;
  right: 10px;
  height: 30px;
  width: 24px;
}

#toilet {
  margin: 15px;
  left: 10px;
  height: 30px;
  width: 24px;
}

#total-bed, .total-toilet {
  text-align: center;
  justify-content: center;
  font-size: 20px;
}

.view-price {
  display: flex;
  align-items: center;
  justify-content: center;
}
.price {
  position: absolute;
  left: 10px;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  bottom: 10px;
}
/* Styling for "View Room" button (.view-room) */
.view-room {
  position: absolute;
  right: 10px;
  border: none;
  border-radius: 5px;
  background: #ffca0e;
  color: #ffffff;
  font-family: inter;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  height: 40px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, color 0.3s;
  bottom: 10px;
}
.view-room:hover {
  background: #ffd524;
  color: #ffffff;
}

/* Styling for client testimonials section (#customers_say) */
#customers-say {
  margin-top: 40px;
  padding: 20px;
  background-color: rgb(238, 238, 238);
}
/* Styling for grid layout in client testimonials (.card_grid) */
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

/* Styling for individual client cards (.client_card) */
.client-card {
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.client-card img {
  display: block;
  margin: auto;
  padding: auto;
  max-width: 80px;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 100%;
}

.client-card h2,
.client-card p {
  text-align: center;
  color: #5b5b5b;
}

/* Styling for headings in customer testimonials (#customers_say .headings p) */
#customers-say .subheadings p {
  text-align: center;
  color: #213e9e;
}

/* Styling for card facilities section (.card-facilities) */
#our-facilities {
  margin-bottom: 60px;
}

.headings p {
  text-align: center;
}
.service-facilities {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 10px;
}
.headings h3 {
  color: #555555;
  text-align: center;
}
.service {
  border-radius: 8px;
  width: 280px;
  height: 300px;
  margin: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
}

.service-img {
  background-color: #213e9e;
  width: 45%;
  height: 40%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-img img {
  width: 50%;
  height: 50%;
}

.other-facilities {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 10px;
}
.facility {
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  box-shadow: 0.3s;
  width: 280px;
  height: 410px;
  margin: 30px;
  border: #ffffff;
  position: relative;
}
.head-facility {
  width: 100%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  color: #f1ebeb; /* Text color */
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}
.img-facility img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.card-des {
  padding: 10px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

/* CSS mengatur bagian destination */
.card_destinations {
  position: relative;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  margin-bottom: 50px;
}

.card_destinations img {
  width: 100%;
  height: auto;
  width: 100%;
  transition: transform 0.5s ease;
}

.card_destinations:hover img {
  transform: scale(1.1);
}

.card_destinations p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: translateY(100%);
  background: rgba(34, 34, 33, 0.8);
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.card_destinations:hover p {
  opacity: 1;
  transform: translateY(0%);
}

/* Media query for mobile view (maximum width 770px) */
@media screen and (max-width: 770px) {
  /* Styling for images in main-pic for mobile view (.main-pic img) */
  .mainpic-home img {
    width: 100%;
  }
  .about-content img {
    width: 80%;
  }
  .container {
    padding: 0px;
    margin: 0px;
  }
  /* Styling for heading in mobile view (#heading) */
  #heading {
    font-size: 30px;
    text-align: center;
  }

  /* Styling for subheading in mobile view (#subheading) */
  #subheading {
    font-size: 20px;
  }
  .main-rooms {
    display: block;
    padding: 10px;
  }

  /* Styling for card facilities section (.card-facilities) */

  /* Display customer testimonials in a block in mobile view (.card_grid) */
  .card-grid {
    display: block;
  }

  /* Adjust client card styles for mobile view (.client_card) */
  .client-card {
    margin: 20px;
    flex: 1 0 auto;
  }
  /* Adjust about content styles for mobile view (.about-content) */
  .about-content {
    display: block;
  }
  .view-about {
    float: right;
    margin: 20px;
  }
  .card-des {
    margin: 0;
    flex-direction: column;
    width: 90%;
  }
}

@media screen and (max-width: 395px) {
  #heading {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  /* Styling for subheading (#subheading) */
  #subheading {
    font-size: 12px;
    text-align: center;
  }
  .box {
    flex-direction: column;
  }
  .about-content {
    font-size: 14px;
  }
  /* Styling for "View Room" button (.view-room) */
  .view-room {
    bottom: 25px;
    right: 10px;
    font-size: 10px;
    padding: 6px 15px;
    height: 25px;
  }

  .service-facilities {
    padding: 10px;
  }

  .service {
    width: 240px;
    height: 300px;
    flex-direction: row;
  }

  .service-img img {
    width: 50%;
    height: 50%;
  }

  .service h3 {
    font-size: 14;
  }
}
