.main-container{
  position: relative;
}

#home1{

  margin-bottom: 60px;
  width: 100%;
  position: relative;
}
/* Styling for the text container */
.text-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  color: #f1ebeb; /* Text color */
  overflow: auto;
}
/* Styling for main-pic container */
.main-pic {
  position: relative;
}

/* Styling for images within the main-pic */
.mainpic-home {
  margin-top: 0;
}

.mainpic-home img{
  width: 100%;
}

/* Styling for heading (#heading) */
#heading {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

/* Styling for subheading (#subheading) */
#subheading {
  font-size: 30px;
  text-align: center;
}
.main-rooms{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.more-rooms a{
  height: 40px;
  font-weight: bold;
}

.more-rooms a:hover {
  color: #213e9e;
  cursor: pointer;
}
/* Styling for headings within .headings */
.headings h1 {
  text-align: center;
  color: #555555;
  font-size: 32px;
}


/* Styling for grid layout in about section (.grid2) */
.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

/* Styling for individual boxes within .about-content (.box) */
#about-us{
  margin-bottom: 100px;
}
.about-container h1{
  display: flex;
  text-align: center;
  justify-content: center;
  color: #555555;
  font-size: 32px;
}
/* Styling for about section (.about-content) */
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.text-about{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.about-content .box {
  text-align: center;
  position: relative;
  margin: 10px;
}

/* Styling for heading and subheading in .box */
.about-content .box h3 {
  color: #213e9e;
  font-size: 20px;
}

.about-content .box h4 {
  position: relative;
  margin-top: -10px;
  font-size: 15px;
}

/* Styling for images in .about-content */
.about-content img {
  width: 40%;
  justify-content: center;
}


/* Styling for heading color in .about-content */
.text-about h2 {
  padding: 10px;
  color: #213e9e;
}

.text-about p{
  padding: 10px;
}
.view-about:hover{
  background: #2347bc;
  color: #ffffff;
}
.view-about{
  border-color: #2347bc;
  border-radius: 5px;
  color: #000;
  font-family: inter;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  padding: 10px 20px;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  align-items: center;
  justify-content: center;
}
/* Styling for individual room cards (.card_room1) */
#popular-rooms{
  margin-bottom: 60px;
}
/* Styling for cards container (.card) */
.card {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 10px;
}
.card-room1 {
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  box-shadow: 0.3s;
  width: 280px;
  height: 410px;
  margin: 30px;
  border: #ffffff;
  position: relative;
}
.headings-popular{
  color: #555555;
}
/* Styling for images within .card_room1 */
.card-room1 img{
  width: 100%;
  height: 60%;
  position: absolute;
}

/* Hover effect for .card-room1 */
.card-room1:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  cursor: pointer;
}
.container {
  position: relative;
  width: 150px;
  height: 150px;
}

.discount p{
  position: absolute;
  margin-top: 0px;
  right: 0px;
  background-color: rgba(220, 20, 20, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  font-weight: bold;
}
/* Styling for room details text (.text_room) */
.text-room {
  position: absolute;
  top: 57%;
  left: 20px;
}

.text-room h2{
  align-items: center;
  text-align: center;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #2347bc;
}
/* Styling for room facilities information (.room_fasilities) */
.available {
  position: absolute;
  top: 45%;
  right: 10px;
}

.available p{
  text-align: center;
  box-shadow: 0px 0px 20px rgb(180, 175, 175);
  background-color: rgba(26, 24, 24, 0.8);
  color: #ffffff;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}
.room-facilities {
  position: absolute;
  display: flex;
  top: 65%;
  left: 20px;
}
.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
}
.item p{
  margin-left: 20px;
  text-align: center;

}

.item img{
  justify-content: center;
  width: 15px;
  height: 15px;
}
.view-price{
  display: flex;
  align-items: center;
  justify-content: center;

}
.price{
  position: absolute;
  left: 10px;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  bottom: 10px;
}
/* Styling for "View Room" button (.view-room) */
.view-room {
  position: absolute;
  right: 10px;
  border: none;
  border-radius: 5px;
  background: #ffca0e;
  color: #ffffff;
  font-family: inter;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  height: 40px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, color 0.3s;
  bottom: 10px;
}
.view-room:hover {
  background: #ffd524;
  color: #ffffff;
}

/* Styling for client testimonials section (#customers_say) */
#customers-say {
  margin-top: 40px;
  padding: 20px;
  background-color: rgb(238, 238, 238);
}
/* Styling for grid layout in client testimonials (.card_grid) */
.card-grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

/* Styling for individual client cards (.client_card) */
.client-card {
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.client-card img {
  display: block;
  margin: auto;
  padding: auto;
  max-width: 80px;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 100%;
}

.client-card h2,
.client-card p {
  text-align: center;
  color: #5b5b5b;
}

/* Styling for headings in customer testimonials (#customers_say .headings p) */
#customers-say .subheadings p {
  text-align: center;
  color: #213e9e;
}

/* Styling for card facilities section (.card-facilities) */
#our-facilities{
  margin-bottom: 60px;
  
}

.headings p{
  text-align: center
}
.service-facilities{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.headings h3{
  color: #555555;
  text-align: center;
}
.service{
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  box-shadow: 0.3s;
  width: 280px;
  height: 410px;
  padding: 20px;
  margin: 30px;
  border: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.service img{
  background-color: #213e9e;
  padding: 10px;
  width: 90%;
  height: 50%;
  border-radius: 5px;
}

.other-facilities-home{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.other-facility img{
  margin: 10px;
  width: 280px;
  height: 410px;
  border-radius: 5px;
}

.heading-facility{
  position: absolute;
  color: #fff;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}
/* Media query for mobile view (maximum width 770px) */
@media screen and (max-width: 770px) {

  /* Styling for images in main-pic for mobile view (.main-pic img) */
  .mainpic-home img {
    width: 100%;
  }

  /* Styling for heading in mobile view (#heading) */
  #heading {
    font-size: 30px;
    text-align: center;
  }

  /* Styling for subheading in mobile view (#subheading) */
  #subheading {
    font-size: 20px;
  }
  .main-rooms{
    display: block;
    margin: 30px;
  }

  /* Styling for card facilities section (.card-facilities) */

  /* Display customer testimonials in a block in mobile view (.card_grid) */
  .card-grid {
    display: block;
  }

  /* Adjust client card styles for mobile view (.client_card) */
  .client-card {
    margin: 20px;
    flex: 1 0 auto;
  }
  /* Adjust about content styles for mobile view (.about-content) */
  .about-content {
    display: block;
  }
   .view-about{
    float: right;
    margin: 20px;
  }

  .service-facilities{
    flex-direction: column;
  }

  .other-facilities-home{
    flex-direction: column;
  }
}


@media screen and (max-width: 395px) {
  .text-container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: #f1ebeb; /* Text color */
  }
  #heading {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  /* Styling for subheading (#subheading) */
  #subheading {
    font-size: 12px;
    text-align: center;
  }
  #booknow1 {
    font-size: 12px;
    padding: 10px 20px;
    height: 30px;
  }
  .about-content{
    font-size: 14px;
  }
  .card {
    padding: 10px;
  }

  .card-room1 {
    width: 240px;
    height: 300px;
  }
  
  /* Hover effect for .card-room1 */
  .card-room1:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  .discount p{
    font-size: 12px;
  }
  .text-room h2{
    font-size: 16px;
  }
  /* Styling for room facilities information (.room_fasilities) */
  .available {
    position: absolute;
    top: 45%;
    right: 10px;
  }
  
  .available p{
    height: 15px;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
  }
  .item p{
    margin-left: 12px;
    text-align: center;
    font-size: 12px;
  }
  
  .item img{
    width: 10px;
    height: 10px;
  }
  .price{
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 12px;
  }
  /* Styling for "View Room" button (.view-room) */
  .view-room {
    bottom: 25px;
    right: 10px;
    font-size: 10px;
    padding: 6px 15px;
    height: 25px;
  }
}
