/* External font import for Inter */
@font-face {
  font-family: "Inter", sans-serif;
  src: url("font/Inter-Regular.ttf");
}

/* External font import for Kaushan Script */
@font-face {
  font-family: "KaushanScript-Regular", cursive;
  src: url("font/KaushanScript-Regular.ttf") format("truetype");
}

/* Set the default font family for the body */
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
.main-container{
  position: relative;
}

#home1{
  margin-top: 30px;
  margin-bottom: 60px;
  width: 100%;
  position: relative;
}
/* Styling for the text container */
.text-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  color: #f1ebeb; /* Text color */
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Styling for main-pic container */
.main-pic {
  position: relative;
}

/* Styling for images within the main-pic */
.mainpic-home {
  margin-top: 0;
}

.mainpic-home img{
  width: 100%;
}

/* Styling for heading (#heading) */
#heading {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

/* Styling for subheading (#subheading) */
#subheading {
  font-size: 30px;
  text-align: center;
}

/* Styling for the book now button (#booknow1) */
#booknow1 {
  border: none;
  border-radius: 5px;
  background: #ffca0e;
  color: #ffffff;
  font-family: inter;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  padding: 10px 20px;
  height: 40px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  align-items: center;
  justify-content: center;
}

#booknow1:hover {
  background: #ffd524;
  color: #ffffff;
}

/* Styling for popular rooms section (#popular_rooms) */


/* Styling for headings within .headings */
.headings h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #555555;
  font-size: 30px;
}

/* Styling for the last word in h1 within .headings */
.headings h1::last-word {
  color: #009c95;
}

/* Styling for grid layout in about section (.grid2) */
.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

/* Styling for individual boxes within .about-content (.box) */
#about-us{
  margin-bottom: 100px;
}
.about-container h1{
  display: flex;
  text-align: center;
  justify-content: center;
  color: #555555;
  font-size: 30px;
}
/* Styling for about section (.about-content) */
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.text-about{
  width: 100%;
  text-align: center;
}
.about-content .box {
  text-align: center;
  position: relative;
  margin: 10px;
}

/* Styling for heading and subheading in .box */
.about-content .box h3 {
  color: #009c95;
  font-size: 20px;
}

.about-content .box h4 {
  position: relative;
  margin-top: -10px;
  font-size: 15px;
}

/* Styling for images in .about-content */
.about-content img {
  width: 80%;
  justify-content: center;
  margin-inline: 20px;
}



/* Styling for heading color in .about-content */
.about-content h2 {
  color: #009c95;
}
.view-about{
  margin-right: 50px;
  float: right;
  justify-content: center;
}
.view-about:hover{
  background: #00c2d8;
  color: #ffffff;
}
.view-about{
  border: none;
  border-radius: 5px;
  background: #07aec1;
  color: #ffffff;
  font-family: inter;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  padding: 10px 20px;
  height: 40px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  align-items: center;
  justify-content: center;
}
/* Styling for individual room cards (.card_room1) */
#popular-rooms{
  margin-bottom: 60px;
}
/* Styling for cards container (.card) */
.card {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 10px;
}
.card-room1 {
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  box-shadow: 0.3s;
  width: 280px;
  height: 410px;
  margin: 30px;
  border: #ffffff;
  position: relative;
}

/* Styling for images within .card_room1 */
.card-room1 img{
  width: 100%;
  height: 60%;
  position: absolute;
}

/* Hover effect for .card-room1 */
.card-room1:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  cursor: pointer;
}
.container {
  position: relative;
  width: 150px;
  height: 150px;
}

.discount p{
  position: absolute;
  margin-top: 0px;
  right: 0px;
  background-color: rgba(220, 20, 20, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  font-weight: bold;
}
/* Styling for room details text (.text_room) */
.text-room {
  position: absolute;
  top: 57%;
  left: 20px;
}

.text-room h2{
  align-items: center;
  text-align: center;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
}
/* Styling for room facilities information (.room_fasilities) */
.available {
  position: absolute;
  top: 45%;
  right: 10px;
}

.available p{
  text-align: center;
  background-color: #009c95;
  color: #ffffff;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}
.room-facilities {
  position: absolute;
  display: flex;
  top: 65%;
  left: 20px;
}
.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
}
.item p{
  margin-left: 20px;
  text-align: center;
}

.item img{
  justify-content: center;
  width: 15px;
  height: 15px;
}
.price{
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 16px;
  color: #009c95;
  font-weight: bold;
}
/* Styling for "View Room" button (.view-room) */
.view-room {
  position: absolute;
  bottom: 20px;
  right: 10px;
  border: none;
  border-radius: 5px;
  background: #ffca0e;
  color: #ffffff;
  font-family: inter;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  height: 40px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, color 0.3s;
}
.view-room:hover {
  background: #ffd524;
  color: #ffffff;
}
/* Styling for client testimonials section (#customers_say) */
#customers-say {
  margin-top: 40px;
  padding: 20px;
  background-color: rgb(238, 238, 238);
}
/* Styling for grid layout in client testimonials (.card_grid) */
.card-grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

/* Styling for individual client cards (.client_card) */
.client-card {
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.client-card img {
  display: block;
  margin: auto;
  padding: auto;
  max-width: 80px;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 100%;
}

.client-card h2,
.client-card p {
  text-align: center;
  color: #5b5b5b;
}

/* Styling for headings in customer testimonials (#customers_say .headings p) */
#customers-say .headings p {
  text-align: center;
  color: #009c95;
}

/* Styling for card facilities section (.card-facilities) */
#our-facilities{
  margin-bottom: 60px;
  
}

.card-carousel-facilities{
  display: flex;
  justify-content: center;

}
/* CSS */
.carousel-wrapper {
  justify-content: center;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 3/4;
  overflow: hidden;
  margin: 0 2rem;
  position: relative;
  
}

.slide {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 12px;
  position: absolute;
  transition: transform 300ms ease-out;
}

.heading-slide{
  position: absolute;
  top: 2rem;
  width: 100%;
  color: #fff;
  font-size: 2rem;
  font-weight: 1000;
  text-align: center;
}

.subheading-slide{
  position: absolute;
  top: 4.5rem;
  width: 100%;
  color: #fff;
  font-size: 1.5rem;
  opacity: 90%;
  text-align: center;
}

.facility{
  position: absolute;
  bottom: 1rem;
  width: 100%;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  opacity: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border-radius: 5px;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.carousel-wrapper .btn {
  font-size: 2rem;
  background: rgba(194, 192, 192, 0.8);
  color: #00c2d8;
  padding: 8px 10px;
  border-radius: 50%;
  border: none;
  margin: 10px;
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
}
.carousel-wrapper .btn:hover {
  background: rgb(255, 255, 255);
  border: 5px;
}

.btn.previous {
  width: 40px;
  top: 50%;
  left: 0;
}

.btn.previous img{
  width: 20px;
}
.btn.next img{
  width: 20px;
}
.btn.next {
  top: 50%;
  right: 0;
}


/* Media query for mobile view (maximum width 770px) */
@media screen and (max-width: 770px) {
  #home1{
    margin-top: 0px;
  }

  /* Styling for images in main-pic for mobile view (.main-pic img) */
  .mainpic-home img {
    width: 100%;
  }

  /* Styling for heading in mobile view (#heading) */
  #heading {
    font-size: 30px;
    text-align: center;
  }

  /* Styling for subheading in mobile view (#subheading) */
  #subheading {
    font-size: 20px;
  }

  /* Styling for book now button in mobile view (#booknow1) */
  #booknow1 {
    font-size: 12px;
    padding: 10px 20px;
    height: 30px;
  }

  /* Styling for card facilities section (.card-facilities) */

  /* Display customer testimonials in a block in mobile view (.card_grid) */
  .card-grid {
    display: block;
  }

  /* Adjust client card styles for mobile view (.client_card) */
  .client-card {
    margin: 20px;
    flex: 1 0 auto;
  }
  .about-container h1{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #555555;
    font-size: 30px;
  }
  /* Adjust about content styles for mobile view (.about-content) */
  .about-content {
    display: block;
    justify-content: center;
    align-items: center;
  }

  /* Adjust image size within about content for mobile view (.about-content img) */
  .mainpic-about {
    width: 0%;
    margin-inline: 20px;
  }

   .view-about{
    float: right;
    margin: 20px;
  }
}


@media screen and (max-width: 395px) {
  .text-container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: #f1ebeb; /* Text color */
  }
  #heading {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  /* Styling for subheading (#subheading) */
  #subheading {
    font-size: 12px;
    text-align: center;
  }
  #booknow1 {
    font-size: 12px;
    padding: 10px 20px;
    height: 30px;
  }
  .about-content{
    font-size: 14px;
  }
  .card {
    padding: 10px;
  }

  .card-room1 {
    width: 240px;
    height: 300px;
  }
  
  /* Hover effect for .card-room1 */
  .card-room1:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  .discount p{
    font-size: 12px;
  }
  .text-room h2{
    font-size: 16px;
  }
  /* Styling for room facilities information (.room_fasilities) */
  .available {
    position: absolute;
    top: 45%;
    right: 10px;
  }
  
  .available p{
    height: 15px;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
  }
  .item p{
    margin-left: 12px;
    text-align: center;
    font-size: 12px;
  }
  
  .item img{
    width: 10px;
    height: 10px;
  }
  .price{
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 12px;
  }
  /* Styling for "View Room" button (.view-room) */
  .view-room {
    bottom: 25px;
    right: 10px;
    font-size: 10px;
    padding: 6px 15px;
    height: 25px;
  }
}
