/* Top Navigation Styles */

.topnav {
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  transition: background-color 0.3s;
  font-family:'Inter', sans-serif;
}

.topnav.scrolled {
  background-color: rgba(0, 0, 0, 1);
}
/* Logo Navigation Styles */
.logo-nav img {
  height: 40px;
  margin: 20px;
}

/* Menu Styles */
#menu {
  float: right;
  margin-left: auto;
  text-align: center;
  margin-top: 0px;
}

/* List Styles */
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
}

ul li {
  float: left;
  margin-right:10px;
  
}

/* Anchor Styles */
li .navbar-item {
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 10px;
  position: relative;
  transition: color 0.3s;
  margin: 10px;
}

.navbar-item:hover {
  color: #ffca0e;
}
#home, #about_us, #facilities, #rooms {
  color: #ffca0e;
  border-bottom: 2px solid #ffca0e;
}

/* Bottom Footer Styles */
.bottom-footer {
  background-color: #2d2d2d;
  width: 100%;
  position: absolute;
  right: 0;
}

/* Logo and Social Styles */
.logo-social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logo-container {
  display: block;
}
.logo-container img {
  height: 40px;
  padding: 20px;
}
.logo-container p {
  color: #fff;
  font-weight: bold;
  margin: 20px;
  font-size: 18px;
  text-align: center;
}

.social-container {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
/* Contact and Follow Footer Styles */
.contact-footer,
.follow-footer {
  margin-left: 50px;
  margin-right: 50px;
}

.contact-footer h4,
.follow-footer h4 {
  text-align: center;
  margin: 0;
  color: #fff;
}

.contact-footer img,
.follow-footer img {
  width: 14px;
  margin: 10px;
  padding: 10px;
  background-color: #767474;
  border-radius: 15px;
}
.contact-img,
.follow-img {
  display: flex;
}

.contact img:hover,
.follow img:hover {
  background-color: #ffca0e;
  transition: background-color 0.3s ease-in-out;
}

/* Additional Footer Styles */
.bottom-footer h5 {
  text-align: center;
  color: #ffffff;
}

.bottom-footer h5::before {
  content: " ";
  display: block;
  color: #ffffff;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  margin: 0 auto 20px;
}

/* Media Query for Small Screens */
@media screen and (max-width: 770px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  /* Burger Menu Styles */
  #burger-menu {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 5px 20px 10px auto;
    overflow: visible;
    position: relative;
    z-index: 3;
  }

  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: #fff;
    display: block;
    height: 3px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }

  #burger-menu span:before,
  #burger-menu span:after {
    content: "";
  }

  #burger-menu span {
    left: 0px;
    top: 10px;
    width: 20px;
  }

  #burger-menu span:before {
    right: 0px;
    top: -10px;
    width: 12px;
  }

  #burger-menu span:after {
    right: 0px;
    top: 10px;
    width: 12px;
  }

  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 5px;
    width: 20px;
  }

  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 20px;
  }

  #burger-menu.close span:after {
    top: 0;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
  }

  /* Menu Styles for Small Screens */
  #menu {
    min-width: 50%;
    min-height: 100%;
    right: 0;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    align-items: flex-start;
    transition: all 0.3ms ease-in;
  }

  #menu.overlay {
    visibility: visible;
    opacity: 3;
    top: 0px;
    background: rgba(0, 0, 0, 0.87);
  }

  /* List Styles for Small Screens */
  ul {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ul li .navbar-item {
    color: #fff;
    display: block;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding: 20px;
  }

  li .navbar-item:hover {
    color: #ffca0e;
  }
  .navbar-item.active {
    color: #ffca0e;
    border-bottom: 2px solid #ffca0e;
  }
  .contact-footer,
  .follow-footer
  {
    padding-top: 20px;
  }
  .contact-img,
  .follow-img {

    display: block;
  }
  /* Contact and Follow Footer Styles for Small Screens */
  .contact img:hover,
  .follow img:hover {
    background-color: #ffca0e;
    transition: background-color 0.3s ease-in-out;
  }

  .logo-social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .logo-container img {
    height: 40px;
  }

  .social-container {
    width: 100px;
    align-items: flex-start;
  }
}

@media screen and (max-width: 330px){
  .logo-nav img{
    height: 30px;
  }
  #menu.overlay {
    visibility: visible;
    opacity: 3;
    top: 8%;
    background: rgba(0, 0, 0, 0.87);
  }
}
