/* Set the default font family for the body */
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.main-container{
  position: relative;
}

#booking-form {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

label {
    flex: 0 0 48%; /* Adjust the width as needed */
    margin-bottom: 8px;
}

input,
select{
    flex: 0 0 48%; /* Adjust the width as needed */
    box-sizing: border-box;
    margin-bottom: 15px;
}

#filter-section img{
  width: 100%;
}


#room-status {
    text-align: center;
}

#status-message {
    font-weight: bold;
    color: #333;
}
.headings{
  text-align: center;
}

.card {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 10px;
}
.card-room1 {
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  box-shadow: 0.3s;
  width: 280px;
  height: 410px;
  margin: 30px;
  border: #ffffff;
  position: relative;
}
/* Styling for images within .card_room1 */
.card-room1 img{
  width: 100%;
  height: 60%;
  position: absolute;
}
/* Hover effect for .card-room1 */
.card-room1:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  cursor: pointer;
}
.container {
  position: relative;
  width: 150px;
  height: 150px;
}
.discount p{
  position: absolute;
  margin-top: 0px;
  right: 0px;
  background-color: rgba(220, 20, 20, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  font-weight: bold;
}
/* Styling for room details text (.text_room) */
.text-room {
  position: absolute;
  top: 57%;
  left: 20px;
}
.text-room h2{
  align-items: center;
  text-align: center;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
}
/* Styling for room facilities information (.room_fasilities) */
.available {
  position: absolute;
  top: 45%;
  right: 10px;
}

.available p{
  text-align: center;
  background-color: #009c95;
  color: #ffffff;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}
.room-facilities {
  position: absolute;
  display: flex;
  top: 65%;
  left: 20px;
}
.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
}
.item p{
  margin-left: 20px;
  text-align: center;
}

.item img{
  justify-content: center;
  width: 15px;
  height: 15px;
}
.price {
  position: absolute;
  bottom: 15px;
  left: 10px;
  font-size: 16px;
  color: #009c95;
  font-weight: bold;
}
/* Styling for "View Room" button (.view-room) */
.view-room {
  position: absolute;
  bottom: 20px;
  right: 10px;
  border: none;
  border-radius: 5px;
  background: #ffca0e;
  color: #ffffff;
  font-family: inter;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  height: 40px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, color 0.3s;
}
.view-room:hover {
  background: #ffd524;
  color: #ffffff;
}

@media screen and (max-width: 395px) {
  .card {
    padding: 10px;
  }

  .card-room1 {
    width: 240px;
    height: 300px;
  }
  
  /* Hover effect for .card-room1 */
  .card-room1:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  .discount p{
    font-size: 12px;
  }
  .text-room h2{
    font-size: 16px;
  }
  /* Styling for room facilities information (.room_fasilities) */
  .available {
    position: absolute;
    top: 45%;
    right: 10px;
  }
  
  .available p{
    height: 15px;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
  }
  .item p{
    margin-left: 12px;
    text-align: center;
    font-size: 12px;
  }
  
  .item img{
    width: 10px;
    height: 10px;
  }
  .price{
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 12px;
  }
  /* Styling for "View Room" button (.view-room) */
  .view-room {
    bottom: 25px;
    right: 10px;
    font-size: 10px;
    padding: 6px 15px;
    height: 25px;
  }
}
