/* CSS untuk .topnav */
.topnav {
  overflow-x: hidden;
  background-color: #009C95;
  width: 100%;
  
}

/* CSS untuk tautan dalam .topnav */
.topnav a {
  float: left;
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  color: #ffffff;
  text-align: center;
  margin: 20px 20px 20px 20px;
  text-decoration: none;
}

/* CSS untuk .item-navbar */
.item-navbar {
  margin: 20px;
  display: flex;
  float: right;
}

/* CSS untuk tautan ikon dalam .topnav */
.topnav a.icon {
  display: none;
}

/* CSS saat tautan dalam .topnav dihover */
.topnav a:hover {
  color: aqua;
  border-bottom: 2px solid aqua;
}

/* CSS untuk tautan aktif dalam .item-navbar */
.topnav .item-navbar a.active {
  color: aqua;
  border-bottom: 2px solid aqua;
}

/* CSS untuk gambar dalam .topnav */
.topnav img {
  height: 50px;
  margin: 5px 5px 5px 5px;
}

/* CSS untuk tombol "Book Now" */
.booknow {
  margin-top: 12px;
  margin-right: 12px;
  float: right;
  border: none;
  border-radius: 5px;
  background: #ffca0e;
  color: #ffffff;
  font-family: Inter;
  font-size: 14px;
  height: 40px;
  padding: 10px 20px;
  font-weight: bold;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, color 0.3s;
}

/* CSS hover untuk tombol "Book Now" */
.booknow:hover {
  background: #ffd524;
  color: #ffffff;
}

/* Media query untuk tampilan seluler (maksimal 600px) */
@media screen and (max-width: 750px) {
  /* Sembunyikan #burgerNav saat layar seluler */
  .topnav #burgerNav {
    display: none;
  }

  /* Tampilkan tautan ikon untuk layar seluler */
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 5px;
    top: 0;
  }
}
